@media only screen and (max-width: 1180px) {
  .container {
    width: 100%;
    padding: 0 32px;
    &--small {
      padding: 0;
    }
  }
  .categories .container-small {
    padding: 0;
  }
  .about_content .container {
    width: 100%;
  }
  .about_us__head h1 {
    width: 100%;
  }
}
@media only screen and (max-width: 1136px) {
}
@media only screen and (max-width: 1100px) {
  .container {
    width: 100%;
    &--small {
      width: 100%;
      padding: 0 33px;
    }
  }
}
@media only screen and (max-width: 1050px) {
  .food_block {
    width: 100%;
  }
}
@media only screen and (max-width: 1024px) {
  .all_food {
    background: url('#{$path_img}/home/cranberry.png') no-repeat left top;
  }
  .mail_btn {
    width: 70px;
    height: 70px;
    right: 3px;
  }

  .about_block h3 {
    text-align: center;
  }
}
@media only screen and (max-width: 1000px) {
  .head_block {
    h1 {
      font: {
        size: 80px;
      }
    }
    h2 {
      font: {
        size: 23px;
      }
    }
  }
  .all_food__best h2 {
    font: {
      size: 80px;
    }
  }
  .food_card {
    width: 95%;
  }
  .item {
    margin: 0 5px;
  }
  .footer__bg {
    background: url('#{$path_img}/footer/footer_bg.svg') no-repeat left center;
    background-size: cover;
  }
  .mail_btn {
    top: 384px;
  }

  .about_us__head h1,
  .about_block h2 {
    font: {
      size: 80px;
    }
  }
  .about_block h3 {
    font: {
      size: 16px;
    }
  }
  .about_box__title h4 {
    font: {
      size: 18px;
    }
  }
  .about_box {
    width: 95%;
  }
}
@media only screen and (max-width: 960px) {
}
@media only screen and (max-width: 940px) {
  .categories .container-small {
    width: 100%;
    padding: 0 25px;
  }
  .mail_btn {
    display: none;
  }
  .btn_nav {
    display: block;
  }
  .header {
    background: #ffffff;
    box-shadow: 0 2px 12px 0 #f3f0f0;
  }

  nav {
    position: fixed;
    left: 0;
    width: 100%;
    top: 65px;
    background: #ffffff;
    box-shadow: 0 2px 12px 0 rgba(122, 122, 122, 0.18);
    padding: 0;
    transform: translateY(20px);
    opacity: 0;
    visibility: hidden;
    transition: 0.3s all ease;
    a {
      margin: 0;
      display: block;
      padding: 17px 0 17px 25px;
      &:last-child {
        display: block;
        color: #ffffff;
        background: #fda644;
      }
    }
  }
  nav.active {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
  }
}
@media only screen and (max-width: 880px) {
}
@media only screen and (max-width: 850px) {
  .search_form {
    width: 100%;
  }
  .food_head__watch {
    padding-left: 5px;
  }
}
@media only screen and (max-width: 810px) {
  .food_block__box {
    width: 50%;
    &:nth-child(1n + 1) {
      .food_card {
        margin: 0;
      }
    }
    &:nth-child(2n + 2) .food_card {
      margin: 0 auto;
    }
  }
}
@media only screen and (max-width: 768px) {
}
@media only screen and (max-width: 750px) {
  .all_food {
    background: transparent;
  }
  .form_box {
    width: 90%;
    padding: 30px 50px;
  }
  .form_box p {
    font: {
      size: 16px;
    }
  }
  .form {
    padding: 0 25px;
  }
}
@media only screen and (max-width: 743px) {
}
@media only screen and (max-width: 710px) {
}
@media only screen and (max-width: 680px) {
  .head_block {
    padding: 130px 0 170px;
    h1 {
      font: {
        size: 65px;
      }
    }
    h2 {
      font: {
        size: 21px;
      }
    }
  }
  .all_food__best h2 {
    font: {
      size: 65px;
    }
  }
  .item {
    margin: 5px;
  }
  .about_us__head h1,
  .about_block h2 {
    font: {
      size: 65px;
    }
  }
  .about_container {
    width: 100%;
    &:nth-child(1n + 1) .about_box {
      margin: auto;
    }
    margin-bottom: 50px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  .about_box {
    width: 303px;
  }
  .about_box__title h4 {
    font-size: 22px;
  }
}
@media only screen and (max-width: 650px) {
}
@media only screen and (max-width: 640px) {
}
@media only screen and (max-width: 600px) {
}
@media only screen and (max-width: 565px) {
  .food_block__box {
    width: 100%;
    &:nth-child(1n + 1) {
      .food_card {
        margin: auto;
      }
    }
  }
  .food_card {
    width: 300px;
  }
  .item {
    margin: 0 7px;
  }
  .food_head__watch {
    padding-left: 15px;
  }

  .categories .search_form {
    flex-direction: column;
    &__box {
      width: 100%;
      &:nth-child(1n + 1) {
        margin: 0 0 20px 0;
      }
    }
    &__send_box {
      width: 100%;
      margin: 0;
    }
  }

  .tabs {
    padding-top: 20px;
    width: 100%;
    &__btn {
      width: 50%;
      &:nth-child(1n + 1) {
        border: 1px solid #d8d8d8;
        border-radius: 0;
      }
      &:nth-child(1) {
        border-top-left-radius: 3px;
      }
      &:nth-child(2) {
        border-top-right-radius: 3px;
        border-left: none;
      }
      &:nth-child(3) {
        border-bottom-left-radius: 3px;
        border-top: none;
      }
      &:nth-child(4) {
        border-bottom-right-radius: 3px;
        border-top: none;
        border-left: none;
      }
      &--active {
        border: 1px solid #fda644;
      }
    }
  }
  .pagination {
    margin-top: 20px;
  }

  .not_search {
    img {
      width: 50%;
      height: auto;
    }
  }
}
@media only screen and (max-width: 550px) {
}
@media only screen and (max-width: 510px) {
}
@media only screen and (max-width: 480px) {
  .container {
    padding: 0 25px;
    &--small {
      padding: 0 35px;
    }
  }
  .head_block {
    padding: 60px 0 170px;
    h1 {
      font: {
        size: 50px;
      }
    }
    h2 {
      font: {
        size: 18px;
      }
    }
  }

  .all_food__best h2 {
    font-size: 50px;
    margin-bottom: 40px;
  }

  .search_form {
    flex-direction: column;
    &__box {
      order: 1;
      &:first-child {
        order: 2;
      }
    }
  }
  .search_form__send_box {
    order: 3;
  }
  .search_form__box:first-child,
  .search_form__box,
  .search_form__send_box {
    width: 100%;
    margin: 0 0 20px 0;
  }
  .footer_block p {
    width: 100%;
    font: {
      size: 10px;
    }
  }
  .all_btn {
    margin: 50px 0;
  }
  .ornam {
    margin: 50px 0 0;
  }
  .all_food__best {
    padding: 40px 0;
  }

  .categories .search_form {
    &__box {
      order: 2;
      &:first-child {
        order: 1;
      }
    }
    .search_form__send_box {
      order: 3;
    }
  }

  .about_us__head h1,
  .about_block h2 {
    font: {
      size: 50px;
    }
  }
  .about_block h3 {
    font-size: 14px;
    padding-bottom: 50px;
  }
  .about_us__head .ornam {
    display: block;
  }
  .about_us__head {
    padding: 52px 0 50px;
  }
  .about_block {
    padding: 50px 0;
  }
}
@media only screen and (max-width: 425px) {
}
@media only screen and (max-width: 375px) {
  .head_block {
    padding: 60px 0 170px;
    h1 {
      font: {
        size: 46px;
      }
    }
    h2 {
      font: {
        size: 18px;
      }
    }
  }
}
@media only screen and (max-width: 350px) {
  .food_card {
    width: 100%;
  }
  .all_btn a {
    padding: 10px 0;
    display: block;
    width: 90%;
    margin: auto;
  }
  .head_block {
    h1 {
      font: {
        size: 40px;
      }
      line-height: normal;
      margin-bottom: 15px;
    }
    h2 {
      font: {
        size: 16px;
      }
      line-height: normal;
    }
  }
  .footer_block ul li {
    margin: 0 5px;
  }
  .about_box {
    width: 100%;
  }
}
@media only screen and (max-width: 350px) {
  .footer_block ul {
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    li {
      margin-bottom: 10px;
    }
  }
}

/*height*/

@media only screen and (max-height: 1050px) {
}
@media only screen and (max-height: 900px) {
}
@media only screen and (max-height: 800px) {
}
@media only screen and (max-height: 768px) {
}
@media only screen and (max-height: 760px) {
}
@media only screen and (max-height: 720px) {
}
@media only screen and (max-height: 680px) {
}
@media only screen and (max-height: 660px) {
}
@media only screen and (max-height: 640px) {
}
@media only screen and (max-height: 600px) {
}
@media only screen and (max-height: 535px) {
}
@media only screen and (max-height: 535px) {
}
@media only screen and (max-height: 500px) {
}
@media only screen and (max-height: 400px) {
}
@media only screen and (max-height: 360px) {
}

/*width*/

@media only screen and (max-width: 1280px) {
}

@media only screen and (max-width: 1000px) {
}
@media only screen and (max-width: 768px) {
}
@media only screen and (max-width: 680px) {
}
@media only screen and (max-width: 600px) {
}
@media only screen and (max-width: 550px) {
}
@media only screen and (max-width: 480px) {
}
@media only screen and (max-width: 425px) {
}
@media only screen and (max-width: 375px) {
}
@media only screen and (max-width: 320px) {
}
