<footer class="footer">
  <div class="line_top"></div>

  <div class="container">
    <div class="footer_block">
      <ul>
        <li>
          <a routerLink="/about-us">Про нас</a>
        </li>
        <li>
          <a routerLink="/categories">Категорії</a>
        </li>
        <li>
          <a href="https://www.facebook.com/groups/847398345592583/" target="_blank">
            <img src="assets/img/footer/facebook.svg" alt="" />
          </a>
          <a href="https://www.instagram.com/stravy_vid_mamy/" target="_blank">
            <img src="assets/img/footer/instagram.svg" alt="" />
          </a>
          <a href="https://t.me/joinchat/D1S_pQ-mD0_T6OgQl_NgLQ" target="_blank">
            <img src="assets/img/footer/telegram.svg" alt="" />
          </a>
        </li>
      </ul>
      <p>
        Страви від мами - безкоштовна рекламна платформа домашньої їжі. Ми не несемо відповідальність за якість, доставку страв та діяльність господинь.
      </p>
    </div>
  </div>

  <div class="footer__bg">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
  </div>
</footer>
