<header class="header" id="header">
  <div class="container">
    <div class="header_block">
      <div>
        <a routerLink="/" class="logo">
          <img src="assets/img/header/logo.png" alt="" />
        </a>
        <span><a href="/">Страви від Мами</a></span>
      </div>
      <nav class="nav">

        <a routerLink="/categories" [queryParams]="{ type: 'offer' }">Категорії</a>
        <a href="https://www.facebook.com/groups/847398345592583/" target="_blank" style="color:#fda644">Додати страву</a>
        <a routerLink="/about-us">Про нас</a>
        <a routerLink="/mail">Зворотній зв’язок</a>
      </nav>
      <div class="btn_nav">
        <div class="line_btn line_btn--top"></div>
        <div class="line_btn line_btn--center"></div>
        <div class="line_btn line_btn--bottom"></div>
      </div>
    </div>
  </div>

  <div class="form_block" [class.form_block--active]="commonService.mailModal">
    <div class="form_block__bg" (click)="commonService.toggleMailModal()"></div>
    <div class="form_box" [class.mail_success_form]="commonService.mailSubmitting === 'success'">
      <div class="form_close" (click)="commonService.toggleMailModal()"></div>
      <p *ngIf="commonService.mailSubmitting !== 'success'">
        Якщо у Вас є запитання, пропозиції або побажання - Ви можете написати нам скориставшись формою нижче.
      </p>
      <p *ngIf="commonService.mailSubmitting === 'success'">
        Дякуємо. Повідомлення було надіслано. Ми відповімо Вам найближчим часом.
      </p>
      <form *ngIf="commonService.mailSubmitting !== 'success'" [formGroup]="mailForm" class="form" (ngSubmit)="onSubmit()">
        <div class="form__box">
          <input type="text" id="name" placeholder="Ім'я" formControlName="name" required />
        </div>
        <div class="form__box">
          <input type="text" id="mail" placeholder="Email" formControlName="mail" required />
        </div>
        <div class="form__box">
          <textarea id="message" placeholder="Повідомлення" formControlName="message" required></textarea>
        </div>
        <div class="btn_send__box">
          <button class="btn_form" [disabled]="mailForm.invalid || commonService.mailSubmitting === 'pending'">Відправити</button>
        </div>
      </form>
      <div *ngIf="commonService.mailSubmitting === 'success'" class="btn_send__box">
        <button class="btn_form" (click)="commonService.toggleMailModal()">OK</button>
      </div>
    </div>
  </div>
</header>
