// Variables
$fonts_1_r: 'Roboto-Regular';
$fonts_1_l: 'Roboto-Light';
$fonts_1_b: 'Roboto-Bold';
$fonts_1_m: 'Roboto-Medium';
$fonts_2_i: 'SavoyeLetPlain';
$fonts_3_b: 'Calibri-Bold';

// Fonts Array
$fonts: ($fonts_1_r, $fonts_1_l, $fonts_1_b, $fonts_1_m, $fonts_2_i, $fonts_3_b);

@each $font in $fonts {
  @font-face {
    font-family: $font;
    src: url('#{$path_fonts}/#{$font}/#{$font}.eot');
    src: url('#{$path_fonts}/#{$font}/#{$font}.eot?#iefix') format('embedded-opentype'), url('#{$path_fonts}/#{$font}/#{$font}.woff2') format('woff2'),
      url('#{$path_fonts}/#{$font}/#{$font}.woff') format('woff'), url('#{$path_fonts}/#{$font}/#{$font}.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
}
