<section class="section_form">
  <div class="form_block">
    <div class="ornam">
      <img src="assets/img/home/ornament.svg" alt="" />
    </div>
    <div class="form_block__bg"></div>
    <div class="form_box">
      <div class="form_close"></div>
      <p>
        Це базовий функціонал. Попереду ще багато планів. Будемо раді Вашому відгуку та/або побажанню щодо роботи аплікації
      </p>
      <form class="form">
        <div class="form__box">
          <input type="text" name="fname" placeholder="Ім'я" required />
          <label class="label"></label>
        </div>
        <div class="form__box">
          <input type="email" name="mail" placeholder="Email" required />
          <label class="label"></label>
        </div>
        <div class="form__box">
          <textarea name="advanced" maxlength="500" placeholder="Повідомлення" required></textarea>
        </div>
        <div class="btn_send__box">
          <button class="btn_form" type="submit"><span>Відправити</span></button>
        </div>
      </form>
    </div>
  </div>
</section>
