<section class="categories">
  <div class="categories_block">
    <div class="container container-small">
      <form class="search_form">
        <div class="search_form__box">
          <p>Місто</p>
          <select name="" id="select">
            <option value="Львів">Львів</option>
          </select>
          <label for="select"></label>
        </div>
        <div class="search_form__box">
          <input name="search" type="search" id="search" placeholder="Пошук" [(ngModel)]="params.search" (keypress)="onKeyPress($event)" />
        </div>
        <div class="search_form__send_box">
          <button type="submit" class="btn_search" (click)="doSearch()"><span>Пошук</span></button>
        </div>
      </form>

      <app-mail-btn></app-mail-btn>

      <div class="tabs">
        <div *ngFor="let btn of typeButtons" class="tabs__btn" [class.tabs__btn--active]="params.type === btn.key" (click)="setPostType(btn.value)">
          <span>{{ btn.text }}</span>
        </div>
      </div>

      <pagination-controls *ngIf="foods.length > 0" (pageChange)="pageChanged($event)" previousLabel="" nextLabel=""></pagination-controls>

      <div *ngIf="foods.length > 0" class="food_block">
        <div class="food_block">
          <app-food-card
            *ngFor="let food of (foods | paginate: { itemsPerPage: PageSize, currentPage: params.page, totalItems: totalPostCount })"
            class="food_block__box"
            [data]="food"
          ></app-food-card>
        </div>
      </div>

      <div *ngIf="foods.length === 0" class="not_search">
        <p>Нажаль, ми не змогли знайти страви за вашим запитом.</p>
        <img src="assets/img/home/not_search.png" alt="" />
      </div>

      <pagination-controls *ngIf="foods.length > 0" (pageChange)="pageChanged($event)" previousLabel="" nextLabel=""></pagination-controls>
    </div>
  </div>
</section>
