<div *ngIf="data" class="food_card" [class.food_card--not_img]="!hasImage">
  <div class="food_head">
    <div class="food_head__watch"></div>
    <div class="food_head__label food_head__label--{{ data.postType }}">
      <p>{{ postLabel }}</p>
    </div>
  </div>

  <div *ngIf="hasImage" class="food_slide_img">
    <ngx-slick-carousel class="food_slider">
      <div ngxSlickItem *ngFor="let img of postImages; let i = index" class="food_slide">
        <a class="froup" href="{{ img }}" [attr.data-lcl-txt]="i + 1" [attr.rel]="data.id" [attr.data-lcl-thumb]="img">
          <div class="food_slide__bg">
            <img src="assets/img/home/glass_icon.svg" alt="" />
          </div>
          <img src="{{ img }}" alt="" />
        </a>
      </div>
    </ngx-slick-carousel>
  </div>

  <div *ngIf="!hasImage" class="food_slide_img">
    <img src="assets/img/home/not_img.png" alt="" />
  </div>

  <div class="food_content">
    <h3 class="food_title">
      <span class="city">Львів</span>
      <span>Оновлено:</span>&nbsp;
      <span class="date">{{ data.postLastUpdate | date: 'dd.MM.yyyy' }}</span>
    </h3>
    <div class="food_overflow food_overflow_{{ data.id }}">
      <div class="food_description">
        <p [innerHTML]="data.postText"></p>
      </div>
    </div>
    <div class="food__fb">
      <a *ngIf="data.postLink !== 'NO DATA'" href="{{ data.postLink }}" class="food_href food_href--fb" target="_blank">Facebook</a>
      <span *ngIf="data.postLink === 'NO DATA'" class="food_href">Facebook</span>
    </div>
    <a href="{{ data.postAuthorUrl }}" class="food_author" target="_blank">
      <div *ngIf="postAuthorAvatar" class="food_author__avatar">
        <img src="{{ postAuthorAvatar }}" alt="" />
      </div>
      <div class="food_author__name">
        <h4>{{ data.postAuthor }}</h4>
      </div>
    </a>
  </div>
</div>
