<section class="head">
  <div class="head_bg"></div>
  <div class="container">
    <div class="head_block">
      <h1>Домашня їжа</h1>
      <h2>Від столу до столу з любов'ю</h2>
      <div class="search_form">
        <div class="search_form__box">
          <select name="" id="select">
            <option value="Львів">Львів</option>
          </select>
          <label for="select"></label>
        </div>
        <div class="search_form__box">
          <input name="search" type="search" id="search" placeholder="Пошук" [(ngModel)]="search" (keypress)="onKeyPress($event)" />
        </div>
        <div class="search_form__send_box">
          <button class="btn_search" (click)="doSearch()"><span>Пошук</span></button>
        </div>
      </div>
    </div>
  </div>
  <app-mail-btn></app-mail-btn>
</section>

<section class="all_food">
  <div class="all_food__head">
    <div class="all_btn">
      <a routerLink="/categories">Показати всі страви</a>
    </div>
    <div class="ornam">
      <img src="assets/img/home/ornament.svg" alt="" />
    </div>
  </div>
  <div class="all_food__best">
    <h2>Найкращі страви</h2>
    <div class="container container-small">
      <div class="food_block">
        <app-food-card *ngFor="let food of foods" class="food_block__box" [data]="food"></app-food-card>
      </div>
    </div>
  </div>
</section>
