.footer {
  flex: 0 0 auto;
  position: relative;
  background: #fda644;
  background-size: auto 10%;
  padding: 40px 0 100px;
  &__bg {
    background: url('#{$path_img}/footer/footer_bg.svg') left center;
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 100%;
    height: 50px;
  }
}
.line {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 1px;
  background: rgba(255, 255, 255, 0.4);
  &:nth-child(1) {
    top: -10px;
  }
  &:nth-child(2) {
    top: -5px;
  }
  &:nth-child(3) {
    bottom: -5px;
    top: auto;
  }
}
.line_top {
  position: absolute;
  left: 0;
  top: 5px;
  width: 100%;
  height: 1px;
  background: rgba(255, 255, 255, 0.4);
  z-index: 1;
}

.footer_block {
  p {
    width: 80%;
    margin: auto;
    font-size: 12px;
    line-height: 1.67;
    letter-spacing: 0.7px;
    text-align: center;
    color: #ffffff;
  }
  ul {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
    li {
      margin: 0 10px;
      a {
        font: {
          size: 16px;
        }
        color: #ffffff;
        &:hover {
          text-decoration: underline;
        }
      }
      &:last-child {
        a {
          display: inline-block;
          width: 20px;
          height: 20px;
          margin: 0 5px;
          transition: 0.3s all ease;
          img {
            max-height: 100%;
          }
          &:hover {
            transform: rotate(1turn);
          }
        }
      }
    }
  }
}
