.header {
  flex: 0 0 auto;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 2;
  background: #ffffff;
  box-shadow: 0 2px 12px 0 #f3f0f0;
}
.header_block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px 0 19px;
}

.logo {
  width: 47px;
  display: inline-block;
}

.header_block span a {
  font-family: "SavoyeLetPlain", sans-serif;
  vertical-align: super;
  color:#fda644;
  font-size: 22px;
  font-weight: 600;
  margin-left: 12px;

}

nav {
  a {
    font: {
      size: 16px;
    }
    letter-spacing: 0.4px;
    color: #001526;
    margin-left: 15px;
    &:first-child {
      margin-left: 0;
    }
    &:hover {
      text-decoration: underline;
    }
    &:last-child {
      display: none;
    }
  }
}

.form_block {
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s all ease;
  &__bg {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(35, 35, 35, 0.59);
  }
  &--active {
    opacity: 1;
    visibility: visible;
  }
}

.form_box {
  background: #ffffff;
  padding: 50px 80px;
  width: 720px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
  border-radius: 6px;
  p {
    margin-bottom: 50px;
    font: {
      size: 18px;
      family: $fonts_1_l;
    }
    line-height: 1.67;
    letter-spacing: 0.5px;
    text-align: center;
    color: #404040;
  }

  &.mail_success_form {
    width: 480px;
  }
}

.form {
  padding: 0 55px;
  &__box {
    margin-bottom: 20px;
    input {
      width: 100%;
      height: 30px;
      border-radius: 3px;
      background: transparent;
      border: 1px solid rgba(35, 35, 35, 0.2);
      padding: 10px 30px;
      outline: none;
      -webkit-appearance: none;
    }
    textarea {
      width: 100%;
      height: 100px;
      border-radius: 3px;
      background: transparent;
      border: 1px solid rgba(35, 35, 35, 0.2);
      padding: 10px 30px;
      outline: none;
      resize: none;
      -webkit-appearance: none;
    }
  }
}

.btn_form {
  background: #fda644;
  border: 1px solid #fda644;
  transition: 0.3s all ease;
  border-radius: 3px;
  font: {
    family: $fonts_1_m, sans-serif;
  }
  cursor: pointer;
  height: 40px;
  width: 100%;
  outline: none;
  color: #ffffff;
  span {
    font-size: 14px;
    letter-spacing: 0.8px;
  }
  &:hover {
    background: transparent;
    color: #fda644;
  }
  &:disabled {
    cursor: not-allowed;
  }
}

.form_close {
  position: absolute;
  right: 15px;
  top: 15px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(35, 35, 35, 0.2);
  cursor: pointer;
  transition: 0.3s all ease;
  &:before {
    content: '';
    width: 60%;
    height: 1px;
    position: absolute;
    left: 9px;
    top: 8px;
    background: rgba(35, 35, 35, 0.2);
    transform: rotate(45deg);
    transform-origin: left;
  }
  &:after {
    content: '';
    width: 60%;
    height: 1px;
    position: absolute;
    left: 9px;
    bottom: 7px;
    background: rgba(35, 35, 35, 0.2);
    transform: rotate(-45deg);
    transform-origin: left;
  }
  &:hover {
    transform: rotate(1turn);
  }
}

.line_btn {
  transition: 0.3s all ease;
  position: absolute;
  left: 0;
  background: #001526;
  height: 2px;
  width: 100%;
  border-radius: 1px;
  &--top {
    top: 0;
  }
  &--center {
    top: calc(50% - 1px);
  }
  &--bottom {
    bottom: 0;
  }
}

.btn_nav {
  height: 18px;
  width: 24px;
  position: relative;
  cursor: pointer;
  display: none;
  &--active {
    .line_btn {
      &--top {
        top: -1px;
        transform: rotate(45deg);
        transform-origin: left;
      }
      &--center {
        opacity: 0;
      }
      &--bottom {
        bottom: 0;
        transform: rotate(-45deg);
        transform-origin: left;
      }
    }
  }
}

.section_form {
  .form_block__bg {
    display: none;
  }
  .form_block {
    position: relative;
    top: auto;
    left: auto;
    opacity: 1;
    visibility: visible;
    z-index: 0;
  }
  .form_box {
    width: 100%;
    position: relative;
    background: none;
    top: auto;
    left: auto;
    transform: translateY(0) translateX(0);
    padding: 0 25px 80px;
    p {
      line-height: 1.57;
      letter-spacing: 0.3px;
      margin-bottom: 20px;
      font: {
        size: 14px;
      }
    }
  }
  .form {
    padding: 0;
  }
  .form_close {
    display: none;
  }
  .ornam {
    text-align: center;
    margin: 50px 0;
  }
}
