<section class="about_us">
  <div class="container">
    <div class="about_us__head">
      <h1>Трохи інформації про нас</h1>
      <div class="ornam">
        <img src="assets/img/about_us/ornament_c_b.svg" alt="" />
      </div>
    </div>
  </div>
  <app-mail-btn></app-mail-btn>
</section>
<section class="about_content">
  <div class="container">
    <div class="about_block">
      <h3>
        Це платформа на якій можна замовити смачну домашню їжу від українських домогосподинь (м. Львів). Або ж якщо Ви любите і вмієте куховарити то тут ви можете заробити гроші готуючи улюблені страви.
        Наша веб аплікація переглядає відкриті інтернет ресурси та соціальні мережі шукаючи домашні страви. Знайшовши такі, вона дозволяє зручно відфільтрувати та замовити домашню їжу у господинь. В нас зроблений повнотекстовий пошук, а також є підтримка мобільних
        пристроїв. Це дозволить Вам знайти потрібну страву як з комп’ютера так і з мобільного телефону. Ми зберігаємо посилання на профіль користувача та
        пост в соцмережах, щоб Ви могли уточнити деталі у автора допису у звичний для Вас спосіб - через соцмережі.
      </h3>
      <div class="ornam">
        <img src="assets/img/home/ornament.svg" alt="" />
      </div>
      <h2>Як це працює</h2>
      <div class="about_flex">
        <div class="about_container">
          <div class="about_box">
            <div class="about_box__title">
              <div class="title_num">1</div>
              <h4>Пошук страви</h4>
            </div>
            <div class="about_box__img">
              <img src="assets/img/about_us/about_img1.png" alt="" />
            </div>
            <p>
              На головній сторінці або в розділі Категорії Ви можете скористатися пошуком, щоб знайти перелік цікавих для Вас страв. Система за одну мить покаже
              всі страви, які відповідають Вашому пошуковому запиту.
            </p>
          </div>
        </div>
        <div class="about_container">
          <div class="about_box">
            <div class="about_box__title">
              <div class="title_num">2</div>
              <h4>Вибір страви</h4>
            </div>
            <div class="about_box__img">
              <img src="assets/img/about_us/about_img2.png" alt="" />
            </div>
            <p>
              Серед переліку страв оберіть одну або декілька, які сподобались. Натиснувши на посилання Facebook Вам відкриється пост, в якому можна
              переглянути коментарі інших людей. Досить часто там будуть попадатися відгуки тих хто вже замовляв цю страву в гоподині.
            </p>
          </div>
        </div>
        <div class="about_container">
          <div class="about_box">
            <div class="about_box__title">
              <div class="title_num">3</div>
              <h4>Замовлення</h4>
            </div>
            <div class="about_box__img">
              <img src="assets/img/about_us/about_img3.png" alt="" />
            </div>
            <p>
              Коли остаточно визначилися, яку саме страву хочете замовити то просто напишіть гоподині. Це можна зробити натиснувши
              на прізцише, ім'я господині. Домовтеся про час, місце і необхідну кількість порцій. Не забудьте
              обговорити умови доставки та оплати.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
