.about_us {
  background: url('#{$path_img}/about_us/about_us_bg.jpg') no-repeat center;
  background-size: cover;
  position: relative;
}
.about_us__head {
  text-align: center;
  padding: 174px 0 86px;
  h1 {
    width: 75%;
    margin: auto;
    font: {
      family: $fonts_3_b, sans-serif;
      size: 100px;
    }
    line-height: 1.1;
    letter-spacing: 2.5px;
    text-align: center;
    color: #ffffff;
  }
  .ornam {
    margin: 44px 0 0;
  }
}
.about_content {
  .container {
    width: 1130px;
  }
}
.about_block {
  padding: 80px 0;
  .container {
    width: 1130px;
  }
  h3 {
    font: {
      family: $fonts_1_l, sans-serif;
      size: 18px;
    }
    line-height: 1.67;
    letter-spacing: 0.5px;
    color: #404040;
    padding-bottom: 80px;
  }
  .ornam {
    text-align: center;
    margin: 0;
  }
  h2 {
    text-align: center;
    font: {
      family: $fonts_2_i, sans-serif;
      size: 100px;
    }
    line-height: 0.55;
    letter-spacing: 2.5px;
    color: #fda644;
    padding: 60px 0 82px;
  }
}

.about_flex {
  display: flex;
  flex-wrap: wrap;
}
.about_container {
  width: 33.3333%;
  &:nth-child(3n + 2) .about_box {
    margin: auto;
  }
  &:nth-child(3n + 3) .about_box {
    margin: 0 0 0 auto;
  }
}
.about_box {
  //width: 81%;
  width: 303px;
  &__title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 44px;
    h4 {
      font: {
        family: $fonts_1_b, sans-serif;
        size: 22px;
      }
      line-height: 1.36;
      letter-spacing: 0.6px;
      color: #001526;
      padding-left: 15px;
    }
  }
  &__img {
    width: 66%;
    margin: 0 auto 28px;
  }
  p {
    line-height: 1.57;
    letter-spacing: 0.4px;
    color: #404040;
    font: {
      size: 14px;
    }
  }
}

.title_num {
  width: 35px;
  height: 35px;
  color: #ffffff;
  background: #fda644;
  border-radius: 50%;
  font: {
    family: $fonts_1_b, sans-serif;
    size: 17px;
  }
  letter-spacing: 0.4px;
  text-align: center;
  line-height: 35px;
}
