.categories {
  padding: 20px 0 100px;

  .container-small {
    width: 940px;
  }

  .search_form {
    width: 100%;
    &__box {
      margin-left: 20px;
      &:first-child {
        margin-left: 0;
      }
      input {
        border: 1px solid #d8d8d8;
        box-shadow: none;
        color: #404040;
        &::placeholder {
          color: #404040;
        }
      }
      select {
        border: 1px solid #d8d8d8;
        box-shadow: none;
        color: #404040;
      }
      p {
        position: absolute;
        left: 0;
        top: -20px;
        color: #404040;
        letter-spacing: 0.4px;
        font: {
          size: 14px;
        }
      }
    }
    &__send_box {
      margin-left: 20px;
      width: 15%;
      .btn_search {
        &:hover {
          border: 1px solid #001526;
          span {
            color: #001526;
          }
        }
      }
    }
  }

  .food_block {
    width: 100%;
    padding-bottom: 0;
  }
}

.tabs {
  width: 494px;
  margin: auto;
  border-radius: 3px;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  padding-top: 50px;
  &__btn {
    border: 1px solid #d8d8d8;
    border-right: 1px solid transparent;
    width: 25%;
    transition: 0.3s all ease;
    &:first-child {
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
    }
    &:last-child {
      border-right: 1px solid #d8d8d8;
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
    }
    text-align: center;
    padding: 7px 21px;
    background: transparent;
    cursor: pointer;
    span {
      transition: 0.3s all ease;
      font: {
        family: $fonts_1_l;
        size: 14px;
      }
      letter-spacing: 0.4px;
      color: #001526;
    }
    &--active {
      background: #fda644;
      border: 1px solid #fda644;
      border-right: 1px solid transparent;
      span {
        color: #ffffff;
      }
    }
    &:hover {
      background: #fda644;
      border: 1px solid #fda644;
      border-right: 1px solid transparent;

      span {
        color: #ffffff;
      }
      &:last-child {
        border-right: 1px solid #fda644;
      }
    }
  }
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  position: relative;
  .page-item {
    height: 30px;
    font: {
      size: 14px;
    }
    span {
      color: #404040;
      padding: 0 5px;
      &:hover {
        text-decoration: underline;
        color: #001526;
      }
    }
    a {
      display: inline-block;
      padding: 0 5px;
      width: 100%;
      height: 100%;
      color: #404040;
      &:hover {
        text-decoration: underline;
        color: #001526;
      }
    }
    &--active {
      span {
        text-decoration: underline;
        color: #001526;
        font: {
          family: $fonts_1_m, sans-serif;
        }
      }
      a {
        text-decoration: underline;
        color: #001526;
        font: {
          family: $fonts_1_m, sans-serif;
        }
      }
    }
    &:first-child {
      width: 30px;
      position: absolute;
      left: 0;
      top: 0;
      border-radius: 3px;
      background: url('#{$path_img}/home/arrow_left_white.svg') no-repeat center center, #001526;
      background-size: 35% 35%;
      transition: 0.3s all ease;
      border: 1px solid #001526;
      &:hover {
        background: url('#{$path_img}/home/arrow_left_blue.svg') no-repeat center center, transparent;
        background-size: 35% 35%;
      }
    }
    &:last-child {
      width: 30px;
      position: absolute;
      right: 0;
      top: 0;
      border-radius: 3px;
      border: 1px solid #001526;
      transition: 0.3s all ease;
      background: url('#{$path_img}/home/arrow_right_white.svg') no-repeat center center, #001526;
      background-size: 35% 35%;
      &:hover {
        background: url('#{$path_img}/home/arrow_right_blue.svg') no-repeat center center, transparent;
        background-size: 35% 35%;
      }
    }
  }
  .disabled {
    &:first-child {
      border: 1px solid #f4f4f4;
      background: url('#{$path_img}/home/arrow_left_white.svg') no-repeat center center, #f4f4f4;
      background-size: 35% 35%;
      &:hover {
        background: url('#{$path_img}/home/arrow_left_white.svg') no-repeat center center, #f4f4f4;
        background-size: 35% 35%;
      }
    }
    &:last-child {
      border: 1px solid #f4f4f4;
      background: url('#{$path_img}/home/arrow_right_white.svg') no-repeat center center, #f4f4f4;
      background-size: 35% 35%;
      &:hover {
        background: url('#{$path_img}/home/arrow_right_white.svg') no-repeat center center, #f4f4f4;
        background-size: 35% 35%;
      }
    }
  }
}

.not_search {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 100px 0 40px;
  p {
    font-size: 14px;
    line-height: 1.57;
    letter-spacing: 0.3px;
    text-align: center;
    color: #404040;
    padding-bottom: 40px;
  }
  img {
    width: 320px;
    height: 320px;
  }
}

.ngx-pagination {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 3rem 0 !important;

  .pagination-next {
    background: url('#{$path_img}/home/arrow_right_white.svg') no-repeat center center, #f4f4f4;
    background-size: 35% 35%;
    position: absolute;
    right: 0;
  }

  .pagination-previous {
    background: url('#{$path_img}/home/arrow_left_white.svg') no-repeat center center, #f4f4f4;
    background-size: 35% 35%;
    position: absolute;
    left: 0;
  }

  .pagination-next,
  .pagination-previous {
    border-radius: 3px;
    background-color: #404040;
  }

  .pagination-next a::after,
  .pagination-next.disabled::after,
  .pagination-previous a::before,
  .pagination-previous.disabled::before {
    content: '' !important;
  }

  .disabled {
    &.pagination-next,
    &.pagination-previous {
      border: 1px solid #f4f4f4;
      background-color: #f4f4f4 !important;
    }
  }

  .disabled:hover {
    background-color: #f4f4f4 !important;
  }

  .current,
  li a:hover {
    background: transparent !important;
    font-weight: bold;
    text-decoration: underline;
  }

  li {
    margin: 0 0.5rem;
    color: #404040 !important;

    a:focus {
      outline: none !important;
    }
  }
}
