.head {
  background: url('#{$path_img}/home/home_bg.jpg') no-repeat center;
  background-size: cover;
  position: relative;
}
.head_bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
}
.head_block {
  text-align: center;
  padding: 117px 0 291px;
  h1 {
    font: {
      family: $fonts_3_b, sans-serif;
      size: 100px;
    }
    color: #ffffff;
    letter-spacing: 2.5px;
  }
  h2 {
    color: #ffffff;
    size: 25px;
    letter-spacing: 1.1px;
    margin-top: 14px;
  }
}
.search_form {
  display: flex;
  justify-content: center;
  //width: 71%;
  width: 780px;
  margin: 43px auto 0;
}
.search_form__box {
  margin-left: 11px;
  width: 54%;
  position: relative;
  &:first-child {
    margin-left: 0;
    width: 29%;
    background-color: white;
    border-radius: 3px;
  }
  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: relative;
    border-radius: 3px;
    box-shadow: 0 0 26px 0 rgba(0, 0, 0, 0.11);
    background: transparent;
    cursor: pointer;
    z-index: 1;
    font: {
      size: 14px;
    }
    letter-spacing: 0.4px;
    color: #001526;
    border: none;
    height: 40px;
    padding: 0 20px 0 15px;
    outline: none;
    width: 100%;
    & ~ label {
      border: 5px solid transparent;
      border-top: 5px solid #001526;
      z-index: 0;
      position: absolute;
      right: 20px;
      top: 18px;
    }
  }
  input {
    border: none;
    -webkit-appearance: none;
    border-radius: 3px;
    box-shadow: 0 0 26px 0 rgba(0, 0, 0, 0.11);
    background: #ffffff;
    font: {
      size: 14px;
    }
    letter-spacing: 0.4px;
    color: #001526;
    height: 40px;
    padding: 0 15px;
    outline: none;
    width: 100%;
    &::placeholder {
      color: #001526;
    }
  }
}

.search_form__send_box {
  margin-left: 10px;
  width: 18%;
}

.btn_search {
  height: 40px;
  border-radius: 3px;
  background-color: #fda644;
  outline: none;
  cursor: pointer;
  width: 100%;
  border: 1px solid #fda644;
  transition: 0.3s all ease;

  span {
    font: {
      size: 14px;
    }

    color: #ffffff;
    transition: 0.3s all ease;
  }

  &:hover {
    background: transparent;
  }

  &:disabled {
    cursor: not-allowed;
  }
}

.mail_btn {
  background: url('#{$path_img}/home/mail.svg') no-repeat center center, rgba(0, 0, 0, 0.1);
  background-size: 30% 30%;
  position: fixed;
  right: 17px;
  //top: 50%;
  top: 415px;
  transform: translateY(-50%);
  width: 100px;
  height: 100px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  cursor: pointer;
  z-index: 1;
  transition: 0.3s all ease;
  &:hover {
    background: url('#{$path_img}/home/mail.svg') no-repeat center center, rgba(0, 0, 0, 0.3);
  }
}

.all_food {
  background: url('#{$path_img}/home/cranberry.png') no-repeat left top 85px;
  &__head {
    text-align: center;
  }
  &__best {
    padding: 50px 0 80px;
    h2 {
      font: {
        family: $fonts_2_i, sans-serif;
        size: 100px;
      }
      line-height: 0.55;
      letter-spacing: 2.5px;
      text-align: center;
      color: #fda644;
      margin: 8px 0 100px;
    }
  }
}

.arrow_down {
  background: url('#{$path_img}/home/arrow_right_button.svg') no-repeat center center, transparent;
  transform: rotate(0.25turn);
  background-size: 35% 35%;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  border: 1px solid #001526;
  margin: auto;
  cursor: pointer;
  transition: 0.3s all ease;
  &:hover {
    background: url('#{$path_img}/home/arrow_right_button__white.svg') no-repeat center center, #fda644;
    background-size: 35% 35%;
    border: 1px solid #fda644;
  }
}

.all_btn {
  margin: 140px 0 66px;
  a {
    display: inline-block;
    position: relative;
    padding: 10px 75px;
    border-radius: 5px;
    border: 1px solid rgba(0, 21, 38, 0.5);
    font: {
      family: $fonts_1_m, sans-serif;
      size: 14px;
    }
    letter-spacing: 0.8px;
    color: #001526;
    transition: 0.3s all ease;
    &:before {
      content: '';
      background: url('#{$path_img}/home/arrow_right_button.svg') no-repeat center;
      width: 14px;
      height: 14px;
      position: absolute;
      right: 19px;
      top: 50%;
      transform: translateY(-50%);
      transition: 0.2s all ease;
    }
    &:hover {
      border: 1px solid #fda644;
      background: #fda644;
      color: #ffffff;
      &:before {
        background: url('#{$path_img}/home/arrow_right_button__white.svg') no-repeat center;
        right: 15px;
      }
    }
  }
}
.ornam {
  margin: 62px 0 0;
  height: 47px;
  img {
    display: inline-block;
  }
}

.food_block {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 32px;
  margin: auto;
  width: 94%;
  &__box {
    width: 33.3333%;
    margin-bottom: 25px;
    &:nth-child(3n + 2) .food_card {
      margin: auto;
    }
    &:nth-child(3n + 3) .food_card {
      margin: 0 0 0 auto;
    }
  }
}
.food_card {
  //width: 77%;
  width: 300px;
  border-radius: 10px;
  box-shadow: 0 0 26px 0 rgba(0, 0, 0, 0.11);
  overflow: hidden;
  position: relative;
  &--not_img {
    .item {
      &__img {
        .svg_img {
          fill: #404040;
        }
      }
      &__num {
        color: #404040;
      }
    }
    .food_slide_img {
      border-bottom: 1px solid #a5a5a5;
    }
  }
}
.food_slide_img {
  height: 200px;
  overflow: hidden;
}
.food_head {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
  &__watch {
    display: flex;
    align-items: center;
    padding-left: 15px;
  }
  &__label {
    border-bottom-left-radius: 10px;
    padding: 11px 16px;
    width: 101px;
    text-align: center;
    &--offer {
      background: #c23737;
    }
    &--review {
      background: #fda644;
    }
    &--request {
      background: #aecbff;
    }
    p {
      font: {
        size: 12px;
      }
      letter-spacing: 0.3px;
      color: #ffffff;
    }
  }
}
.item {
  margin: 0 10px;
  display: flex;
  align-items: center;
  &__img {
    width: 18px;
    .svg_img {
      fill: #ffffff;
    }
  }
  &__num {
    font: {
      size: 12px;
    }
    letter-spacing: 0.3px;
    margin-left: 3px;
  }
}

.food_slide {
  &__bg {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
    z-index: 1;
  }
}

.food_slider.slick-dotted.slick-slider {
  margin-bottom: 0;
}
.food_slider {
  width: 100%;
  height: 200px;
  .slick-dots {
    bottom: 4px;
    li {
      width: 6px;
      height: 6px;
      text-align: center;
      margin: 0 3px;
      button {
        width: 5px;
        height: 5px;
        background: #ffffff;
        padding: 0;
        transition: 0s all ease;
        border-radius: 50%;
        margin: auto;
        &:before {
          content: none;
        }
        &:hover {
          width: 6px;
          height: 6px;
        }
      }
    }
    .slick-active {
      button {
        width: 6px;
        height: 6px;
      }
    }
  }
  .slick-arrow {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    z-index: 1;
    border: 1px solid rgba(255, 255, 255, 0.9);
    &:before {
      content: none;
    }
  }
  .slick-next {
    right: 10px;
    background: url('#{$path_img}/home/arrow_right_white.svg') no-repeat center center, rgba(0, 0, 0, 0.35) !important;
    background-size: 50% 50% !important;
  }
  .slick-prev {
    left: 10px;
    background: url('#{$path_img}/home/arrow_left_white.svg') no-repeat center center, rgba(0, 0, 0, 0.35) !important;
    background-size: 50% 50% !important;
  }
  .slick-disabled {
    opacity: 0.3;
  }

  .slick-list {
    height: 100%;
  }
  .slick-track {
    height: 100%;
  }
}
.food_slide {
  img {
    position: absolute;
    height: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.food_slide__bg {
  img {
    width: 35px;
    height: auto;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    opacity: 0;
    transition: 0.3s all ease;
  }
  &:hover {
    img {
      top: 50%;
      opacity: 1;
    }
  }
}

.froup {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  span {
    display: block;
    height: 200px;
    width: 100%;
  }
}

.food-more {
  position: absolute;
  bottom: 0;
  left: 0;
  //background: #ffffff;
  //width: 100%;
  z-index: 1;
  //padding: 10px 0;
  color: #a5a5a5;
  font-size: 12px;
  text-decoration: underline;
  letter-spacing: 0.3px;
  cursor: pointer;
  padding-right: 15px;
  &:before {
    content: '';
    background: url('#{$path_img}/home/arrow_right_grey.svg') no-repeat center center;
    transform: rotate(0.25turn);
    position: absolute;
    width: 10px;
    height: 10px;
    right: 0;
    top: 2px;
  }
  &:hover {
    text-decoration: underline;
    color: #fda644;
    &:before {
      background: url('#{$path_img}/home/arrow_right_orange.svg') no-repeat center center;
    }
  }
}
.is-expanded {
  .food-more {
    text-decoration: underline;
    color: #fda644;
    &:before {
      transform: rotate(0.75turn);
      background: url('#{$path_img}/home/arrow_right_orange.svg') no-repeat center center;
    }
  }
}

.food_overflow {
  position: relative;

  &--height {
    height: 125px;
  }
}
.food_overflow--hidden {
  position: relative;
  overflow: hidden;
  height: 168px;
}

.food_content {
  padding: 6px 20px 26px;
}
.food_title {
  margin-bottom: 11px;
  span {
    letter-spacing: 0.3px;
    color: #a5a5a5;
    font: {
      size: 12px;
    }
    display: inline-block;
    &:first-child {
      padding-right: 16px;
    }
  }
}
.food_description {
  padding-bottom: 10px;
  p {
    font: {
      size: 12px;
    }
    color: #404040;
    line-height: 18px;
    letter-spacing: 0.3px;
  }
}

.food__fb {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-bottom: 1px solid #a5a5a5;
  padding-bottom: 9px;
  //margin-bottom: 21px;
  position: absolute;
  padding-top: 10px;
  // padding-top: 43px;
  bottom: 83px;
  right: 20px;
  width: calc(100% - 40px);
  background: #ffffff;
  a.food_href,
  span.food_href {
    font: {
      size: 12px;
    }
    text-decoration: underline;
    letter-spacing: 0.3px;
    position: relative;
    transition: 0.3s all ease;
    &:hover {
      text-decoration: none;
    }
    &--more {
      color: #a5a5a5;
      padding-right: 15px;
      &:before {
        content: '';
        background: url('#{$path_img}/home/arrow_right_grey.svg') no-repeat center center;
        transform: rotate(0.25turn);
        position: absolute;
        width: 10px;
        height: 10px;
        right: 0;
        top: 2px;
      }
      &:hover {
        text-decoration: underline;
        color: #fda644;
        &:before {
          background: url('#{$path_img}/home/arrow_right_orange.svg') no-repeat center center;
        }
      }
    }
    &--fb {
      color: #3b5998;
    }
  }

  span.food_href {
    text-decoration: none;
  }
}

.food_overflow--hidden {
  .food__fb {
    bottom: 89px;
  }
}

.food_author {
  display: flex;
  //padding-top: 30px;
  padding-top: 75px;
  &__avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
    img {
      object-fit: cover;
    }
  }
  &__name {
    margin-left: 8px;
    display: flex;
    align-items: center;
    h4 {
      color: #404040;
      font: {
        family: $fonts_1_b, sans-serif;
        size: 14px;
      }
      letter-spacing: 0.3px;
    }
  }
  &:hover {
    h4 {
      text-decoration: underline;
    }
  }
}

.food_overflow--hidden {
  & ~ .food_author {
    padding-top: 36px;
  }
}
